<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path(@recipe)) do |form| %>
  <% if recipe_food.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="form-row">
    <%= form.label :food_id %>
    <%= form.select :food_id, options_for_select(@food.collect{ |f| [f.name, f.id] }) %>
  </div>

  <div class="form-row">
    <%= form.submit "Add ingredient", class: "button-primary" %>
  </div>
<% end %>
