<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

    <p class="notice flex-center"><%= notice %></p>
    <p class="alert flex-center"><%= alert %></p>

    <main id = "main-section">
    <%= yield %>
    </main>

    <footer id = "footer">
         <p>Created by Ibrahim & Mancoba &copy; <%= Time.now.year %> </p>
    </footer>
  </body>
</html>
